.body {
 padding: auto;
margin: 0%;
}

.cabeçalho{
 background-color: chocolate;
margin: 5%;
padding: 10px;
text-align: center;
}

.informações {

background-color: darkolivegreen;
margin: 16px;
padding: 10px;
text-align: justify;
}